# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
.env

# Virtual environment
venv/
.env/
env/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
