Mkaribu - Récupération de votre compte

Bonjour,

Vous recevez cet email car vous avez demandé la réinitialisation du mot de passe de votre compte Mkaribu.

Si vous êtes un utilisateur existant (ancienne version sans mot de passe), utilisez ce lien pour définir votre tout premier mot de passe.

Cliquez sur le lien ci-dessous pour changer votre mot de passe :

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

Ce lien est valable pendant 48 heures.

Si vous n'avez pas demandé cette réinitialisation, vous pouvez ignorer cet email en toute sécurité. Aucun changement ne sera effectué sur votre compte.

L'équipe Mkaribu
www.mkaribu.com
